<h1>{{ 'WAREHOUSE_MOVEMENT.' + movementType + '.TITLE' | translate }}</h1>

<form *ngSkeleton="crudMode === CrudEnum.CREATE || loaded" class="form w-full" [formGroup]="form" (submit)="onSubmit()">
  <div class="flex justify-content-between">
    <div [formGroupName]="movementType === WarehouseMovementType.INPUT ? 'from' : 'to'" class="flex align-items-center gap-2 col-6">
      <label class="w-4" for="placeCode">{{ 'WAREHOUSE_MOVEMENT.FORM.PLACE.' + movementType | translate}}</label>
      <p-dropdown id="placeCode" formControlName="code" styleClass="w-full"
                  [editable]="true" [filter]="true" [showClear]="true" [options]="placeCodes">
      </p-dropdown>

      <input pInputText formControlName="label" id="label" />
    </div>

    <div class="flex align-items-center gap-2 col-6">
      <label class="w-4" for="customStatus">{{ 'WAREHOUSE_MOVEMENT.FORM.CUSTOM_STATUS' | translate}}</label>
      <p-dropdown id="customStatus" formControlName="customStatus" styleClass="w-full"
                  [editable]="true" [filter]="true" [showClear]="true" [options]="customStatuses">
      </p-dropdown>
    </div>
  </div>

  @if (movementType === WarehouseMovementType.OUTPUT) {
    <div formGroupName="documentRef" class="flex align-items-center gap-2 col-6">
      <label class="w-4" for="documentRefType">{{ 'WAREHOUSE_MOVEMENT.FORM.GOOD.DOCUMENT_REF' | translate}}</label>
      <p-dropdown id="documentRefType" formControlName="type" styleClass="w-full"
                  [editable]="true" [filter]="true" [showClear]="true" [options]="documentRefTypes">
      </p-dropdown>

      <input pInputText formControlName="reference" id="documentRef" />
    </div>
  }

  <div formArrayName="goods">
    <div *ngFor="let good of goods.controls; let index = index" [formGroupName]="index">
      <div formGroupName="reference" class="flex align-items-center gap-2 col-6">
        <label class="w-4" for="referenceType">{{ 'WAREHOUSE_MOVEMENT.FORM.GOOD.REFERENCE.TYPE' | translate}}</label>
        <p-dropdown id="referenceType" formControlName="type" styleClass="w-full"
                    [editable]="true" [filter]="true" [showClear]="true" [options]="referenceTypes">
        </p-dropdown>

        <div class="field mb-0">
          <input pInputText formControlName="code" id="referenceCode" />
          @if (good.get('reference')?.get('code')?.touched && good.get('reference')?.get('code')?.errors?.['forbiddenLength']) {
            <small id="referenceType-help" class="p-error block">
              {{'WAREHOUSE_MOVEMENT.FORM.ERROR.CODE_LENGTH' | translate}}
            </small>
          }
        </div>
      </div>

      <div class="flex align-items-center gap-2 col-10">
        <label class="w-3" for="description">{{ 'WAREHOUSE_MOVEMENT.FORM.GOOD.DESCRIPTION' | translate}}</label>
        <input class="w-full" pInputText formControlName="description" id="description" />
      </div>

      <div formGroupName="amount" class="flex justify-content-between">
        <div class="flex align-items-center gap-2 col-6">
          <label class="w-4" for="amountQuantity">{{ 'WAREHOUSE_MOVEMENT.FORM.GOOD.AMOUNT.QUANTITY' | translate}}</label>
          <input pInputText formControlName="quantity" id="amountQuantity" />
        </div>

        <div class="flex align-items-center gap-2 col-6">
          <label class="w-4" for="amountWeight">{{ 'WAREHOUSE_MOVEMENT.FORM.GOOD.AMOUNT.WEIGHT' | translate}}</label>
          <input pInputText formControlName="weight" id="amountWeight" />
        </div>
      </div>

      <div formGroupName="totalRefAmount" class="flex justify-content-between">
        <div class="p-field flex align-items-center gap-2 col-6">
          <label class="w-4" for="totalRefAmountQuantity">{{ 'WAREHOUSE_MOVEMENT.FORM.GOOD.TOTAL_REF_AMOUNT.QUANTITY' | translate}}</label>

          <div class="field">
            <input pInputText formControlName="quantity" id="totalRefAmountQuantity" />
            @if (good.get('totalRefAmount')?.get('quantity')?.touched && good.get('totalRefAmount')?.get('quantity')?.errors?.['forbiddenTotal']) {
              <small id="totalRefAmountQuantity-help" class="p-error block">
                {{'WAREHOUSE_MOVEMENT.FORM.ERROR.NO_CORRESPONDING_QUANTITIES' | translate}}
              </small>
            }
          </div>
        </div>

        <div class="flex align-items-center gap-2 col-6">
          <label class="w-4" for="amountWeight">{{ 'WAREHOUSE_MOVEMENT.FORM.GOOD.TOTAL_REF_AMOUNT.WEIGHT' | translate}}</label>

          <div class="field">
            <input pInputText formControlName="weight" id="totalRefAmountWeight" />
            @if (good.get('totalRefAmount')?.get('weight')?.touched && good.get('totalRefAmount')?.get('weight')?.errors?.['forbiddenTotal']) {
              <small id="totalRefAmountWeight-help" class="p-error block">
                {{'WAREHOUSE_MOVEMENT.FORM.ERROR.NO_CORRESPONDING_QUANTITIES' | translate}}
              </small>
            }
          </div>
        </div>
      </div>
    </div>
  </div>

  @if (crudMode !== CrudEnum.VIEW) {
    <div class="flex justify-content-end">
      <p-button class="flex justify-content-between align-items-center gap-2 p-3 ;btn"
                [label]="'GENERAL.CANCEL' | translate" [outlined]="true"
                (onClick)="location.back()"></p-button>
      <p-button type="submit" class="flex justify-content-between align-items-center gap-2 p-3 ;btn"
                [label]="'GENERAL.SEND' | translate"></p-button>
    </div>
  }
</form>
