<div class="flex justify-content-around align-content-center">
  <p-button [label]="'HISTORY.TITLE' | translate" [routerLink]="RoutesEnum.HISTORY"></p-button>
  <p-button [label]="'WAREHOUSE_MOVEMENT.OUTPUT.TITLE' | translate" [routerLink]="RoutesEnum.OUTPUT + '/' + RoutesEnum.CREATE"></p-button>
  <p-button [label]="'WAREHOUSE_MOVEMENT.INPUT.TITLE' | translate" [routerLink]="RoutesEnum.INPUT + '/' + RoutesEnum.CREATE"></p-button>
</div>
