<h1>{{ 'HISTORY.TITLE' | translate }}</h1>

<p-table *ngSkeleton="!!warehouseMovements" [value]="warehouseMovements.content" [lazy]="true" [paginator]="true"
         [loading]="loading" [totalRecords]="warehouseMovements.numberOfElements" [rows]="pageSize"
         (onLazyLoad)="loadPage($event)">
  <ng-template pTemplate="header">
    <tr>
      <th>{{ 'WAREHOUSE_MOVEMENT.MOVEMENT_TIME' | translate }}</th>
      <th>{{ 'WAREHOUSE_MOVEMENT.TYPE' | translate }}</th>
      <th>{{ 'WAREHOUSE_MOVEMENT.FROM' | translate }}</th>
      <th>{{ 'WAREHOUSE_MOVEMENT.TO' | translate }}</th>
      <th>{{ 'WAREHOUSE_MOVEMENT.GOODS.REFERENCE' | translate }}</th>
      <th>{{ 'WAREHOUSE_MOVEMENT.GOODS.QUANTITY' | translate }}</th>
      <th>{{ 'WAREHOUSE_MOVEMENT.GOODS.WEIGHT' | translate }}</th>
      <th>{{ 'WAREHOUSE_MOVEMENT.CUSTOM_STATUS' | translate }}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-warehouseMovement>
    <tr>
      <td>{{ warehouseMovement.movementTime }}</td>
      <td>{{ warehouseMovement.type }}</td>
      <td>{{ warehouseMovement.type === WarehouseMovementType.INPUT ? warehouseMovement.from?.label : warehouseMovement.declaredIn?.label }}</td>
      <td>{{ warehouseMovement.type === WarehouseMovementType.OUTPUT ? warehouseMovement.to?.label : warehouseMovement.declaredIn?.label }}</td>
      <td>
        @for (good of warehouseMovement.goods; track good.reference) {
          {{ good.reference?.code }} <br>
        }
      </td>
      <td>
        @for (good of warehouseMovement.goods; track good.reference) {
          {{ good.amount?.quantity }} <br>
        }
      </td>
      <td>
        @for (good of warehouseMovement.goods; track good.reference) {
          {{ good.amount?.weight }} <br>
        }
      </td>
      <td>{{ warehouseMovement.customStatus }}</td>
    </tr>
  </ng-template>
</p-table>
