* {
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #000000 !important;
  height: 100%;
}

body {
  background-color: #f4f4f4 !important;
  height: 100%;
  margin: 0;
}
